@keyframes pisca {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Montserrat, Helvetica, sans-serif;
}

.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}

.display-up{
    flex: 1;
    display: flex;
}

.display-up-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.display-up-left-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.display-up-left-2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-up-left-3 {
    height: 50px;
}

.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.display-up-left-4 {
    flex: 1;
    line-height: 30px;
}

.display-up-right {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.display-up-right-img {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 14px;
}

.display-up-right-img img{
    width: 100%;
}

.display-up-right-img.small {
    width: 80%;
    font-size: 12px;
}

.display-up-right-2 img{
    width: 70%;
}

.display-down{
    height: 55px;
    font-size: 15px;
    border-top: 2px solid black;
    padding-left: 15px;
}

.teclado {
    background-color: #35312b;
    margin-left: 30px;
}

.teclado-linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-botão {
    width: 75px;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #555;
}

.botao-BRANCO {
    background-color: white;
    color: black;
    font-size: 15px;
}

.botao-CORRIGE {
    background-color: #f09046;
    color: black;
    font-size: 15px;
}

.botao-CONFIRMA {
    background-color: #3fb470;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.aviso-grande {
    font-size: 40px;
    font-weight: bold;
}

.aviso-gigante {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}